:root {
  --bcg-color: #171717;
  --text-color: #2b2b2b;
  --white: #fff;
  --second-text-color: #d3ac3f;

  --raleway-font: Raleway, sans-serif;
  --inter-font: Inter, sans-serif;
}

@import url(basic.css);
@import url(./variables.css);

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: Inter, sans-serif;

  background-color: var(--bcg-color);
  color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.header__flex {
  display: flex;
  justify-content: space-between;
}

.header {
  margin-top: 50px;
}

.header__logo {
  display: flex;
  flex-direction: column;

  color: var(--white);

  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;
  font-family: var(--raleway-font) sant-serif;

  max-width: 106px;
}

.header__logo-primary {
  color: var(--second-text-color);
}

.header__search-form {
  flex-grow: 1;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header__search-input {
  width: 100%;

  outline: none;
  border-radius: 6px;
  background-color: var(--text-color);
  height: 70px;
  padding-left: 74px;

  color: var(--white);
}
