:root {
  /* Основные цвета сайта */
  --bcg-color: #171717;
  --text-color: #2b2b2b;
  --white: #fff;
  --second-text-color: #d3ac3f;

  /* Основные шрифты сайта */
  --raleway-font: Raleway, sans-serif;
  --inter-font: Inter, sans-serif;

  /* Для плавных переходов */
  --animation: 350ms cubic-bezier(0.89, 0.56, 0.22, 0.36);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;

  padding-top: 50px;

  font-family: Inter, sans-serif;

  background-color: var(--bcg-color);
  color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p {
  margin: 0;
}

/* Контейнер для контента  */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

/* Стили для хедера */

.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 30px;
}

.header__logo {
  display: flex;
  flex-direction: column;

  color: var(--white);

  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;
  font-family: var(--raleway-font) sant-serif;

  max-width: 106px;
}

.header__logo-primary {
  color: var(--second-text-color);
}

.header__search-form {
  flex-grow: 1;
  height: 70px;
  padding-left: 60px;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: left 15px center;

  background-color: var(--text-color);
  border-radius: 6px;
}

.header__search-input {
  width: 100%;
  height: 100%;
  padding-left: 14px;

  outline: none;
  border: none;
  border-radius: 6px;

  color: var(--white);
  background-color: var(--text-color);
  font-size: 24px;
  line-height: 29px;
  opacity: 0.3;

  transition: background-color var(--animation);
}

.header__search-input:focus {
  background-color: var(--second-text-color);
}

.header__menu-btn {
  width: 106px;
  height: 40px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.header__icon {
  stroke: var(--white);

  transition: stroke var(--animation);
}

.header__icon:hover {
  stroke: var(--second-text-color);
}

/* Стили для фильма недели (HERO BLOCK) */

.film-week {
  padding-top: 60px;
  padding-bottom: 60px;
}

.film-week__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.film-week__img {
  height: 692px;
  width: 100%;

  margin-bottom: 24px;

  border-radius: 10px;
}

.film-week__name {
  font-family: var(--raleway-font);
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0.05em;

  color: var(--white);
}

.film-week__text {
  display: flex;
  align-items: center;

  font-size: 18px;
  line-height: 140%;
  color: #ffffff;

  opacity: 0.6;
}

.film-week__text::before {
  content: "\AB";
}

.film-week__text::after {
  content: "\BB";
}

.film-week__btn {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  width: 225px;
  height: 72px;
  padding: 25px 25px;

  cursor: pointer;

  text-decoration: 0;
  color: var(--white);
  background: var(--text-color);
  border-radius: 6px;
  border: 0;

  transition: background-color var(--animation);
}

.film-week__btn:hover,
.film-week__btn:active {
  background-color: var(--second-text-color);
}

.film-week__look {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  width: 275px;
  height: 72px;

  padding: 25px;
  margin: 0;

  text-decoration: 0;
  color: var(--white);
  background-color: var(--text-color);
  border-radius: 6px;

  transition: background-color var(--animation);
}

.film-week__look:hover,
.film-week__look:focus {
  background-color: var(--second-text-color);
}

.film-week__icon {
  margin-left: 10px;
}
