:root {
  --bcg-color: #171717;
  --text-color: #2b2b2b;
  --white: #fff;
  --second-text-color: #d3ac3f;

  --raleway-font: Raleway, sans-serif;
  --inter-font: Inter, sans-serif;
}

@import url(./basic.css);
@import url(./variables.css);

body {
  background-color: var(--bcg-color);
  color: var(--white);
}
